*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dropdown-item:hover{
    color: red !important;
}
.nav-link:hover{
    color: red !important;
}
.saving{
    width: 100%;
    height: 350px;
    background: url(saving.jpg);
    position: relative;
}
.saving h1{
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    font-weight: bold;
    color: white;
}
.parag p{
    margin-top: 5%;
    color: gray;
}
table{
    border: 2px solid black;
}
.matter h2{
    font-weight: bold;
    margin-top: 5%;
}
.loan1 a{
    text-decoration: none;
    color: white;
}
.loan1{
    margin-top: -7%;
}
.loan2 a{
    text-decoration: none;
    color: white;
}
.diteal{
    color: rgb(200, 186, 186);
}
.power p{
    text-align: center;
    margin-top: 5%;
    color: white;
}
.footer{
    width: 99%;
    background-color: rgb(46, 44, 44);
    text-align: center;
}